body {
  --transition-delay: 1s;
  --button-text-color: var(--background-color);

  background-color: var(--background-color);
  color: var(--text-color);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.theme-toggle-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
  margin-right: 10px;
  cursor: pointer;
}

.icon-swapper {
  margin-right: 2px;
}

.button {
  cursor: pointer;
  transition: 0.4s;
}

.button:hover {
  text-shadow: 0 0 10px rgb(81, 141, 232);
}

.home {
  padding: 10px;
  border-radius: 10px;
  background-color: transparent;
  border: 2px solid transparent;
  cursor: pointer;
  transition: 0.5s;
  color: white;
}

.home:hover {
  border-color: rgb(81, 141, 232);
  color: rgb(81, 141, 232);
}

.contato {
  padding: 10px;
  border-radius: 10px;
  background-color: transparent;
  border: 2px solid transparent;
  transition: 0.5s;
  color: white;
}

.contato:hover {
  border-color: rgb(81, 141, 232);
  color: rgb(81, 141, 232);
}

a:hover {
  color: #ec5840;
}

.card {
  margin-bottom: 20px;
}

@media (max-width: 1030px) {
  .home,
  .contato {
    padding: 10px;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid rgb(81, 141, 232);
    transition: 0.4s;
    color: black;
  }
}

@media (max-width: 810) {
  .home,
  .contato {
    padding: 10px;
    border-radius: 10px;
    background-color: black;
  }
}

body.dark-mode-web {
  --accent-color: #D0D0661;
  --background-golor: #333;
  --text-color: white;
}

.theme-toggle-button {
  background-color: var(--accent-color);
  color: var(--button-text-color);

  display: flex;
  justify-content: center;
  align-items: center;
}
